@import "tailwind.css";
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: white !important;
  background: linear-gradient(#610365, #111778, #610365);
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  margin: 2% auto;
  width: 90vw !important;
  --navbar-height: 3rem !important;
  position: fixed !important;
  border-radius: 10px;
}

.max-w-\[1024px\] {
  max-width: 100vw !important;
}

#brand-logo-section {
  margin-left: 5% !important;
}

#brand-social-section {
  margin-right: 5% !important;
}

.bg-background\/70 {
  background-color: hsl(var(--nextui-background) / 0.2) !important;
}

.text-foreground {
  --tw-text-opacity: 1 !important;
  color: white !important;
}

.kumar-one-regular {
  font-family: "Kumar One", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

#brand-logo {
  color: #ffC31f !important;
  margin-top: 5px !important;
}

.activeItem {
  font-style: italic !important;
  font-weight: 600 !important;
}

.bordered-btn {
  color: white !important;
  border: 1px solid white !important;
}

.bordered-btn:hover {
  cursor: pointer !important;
  -webkit-transform: scale(0.95) !important;
  transform: scale(0.95) !important;
  transition: all .5s !important;
}

#intro-card-footer {
  justify-content: left !important;
}

#about-card {
  margin-top: 3% !important;
}

#email-btn {
  margin-left: 10px !important;
}

.bg-content1 {
  --tw-bg-opacity: 0.1 !important;
  background-color: hsl(var(--nextui-background) / 0.1) !important;
}

.services-card {
  margin: auto 2% !important;
  width: 33% !important;
  max-height: 30rem !important;
  height: 25rem !important;
}

.services-card:hover {
  cursor: pointer !important;
  -webkit-transform: rotate(-5deg) scale(0.9) !important;
  transform: rotate(-5deg) scale(0.9) !important;
  transition: all .5s !important;
  opacity: 0.8 !important;
}

.card-footer {
  display: block !important;
  height: -webkit-fill-available !important;
}

.card-footer::-webkit-scrollbar {
  width: 0 !important;
  display: none; 
}

.tab-item > .text-default-500 {
  color: white;
}

/* .rsis-image {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
} */

#contact-form {
  width: 20rem !important;
  max-width: 25rem !important;
}

@media only screen and (max-width: 950px) {
  #intro-card-body {
    text-align: center !important;
  }

  #intro-card-footer {
    justify-content: center !important;
  }

  #graphic-design-services-card, #animation-services-card, #threed-works-services-card {
    margin: 2% auto !important;
    width: 100vh !important;
    max-height: 30rem !important;
    height: 25rem !important;
  }
  
  /* .rsis-image {
    width: 100% !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  } */

  #contact-form {
    width: 15rem !important;
    max-width: 25rem !important;
  }
}

@media only screen and (max-width: 750px) {
          
}

@media only screen and (max-width: 600px) {
  
}
